VITE_SERV=http://localhost:8000
VITE_STORAGE_URL=http://localhost:8000/storage/
VITE_AUTH_LOGIN_ENDPOINT=/v1/auth/login
VITE_AUTH_LOGOUT_ENDPOINT=/v1/auth/logout
VITE_AUTH_PROFILE_ENDPOINT=/v1/auth/me
